:root {
    --light-blue: #62A1EB;
    --helveticaFont: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --black: #232323;
    --black500: #2E2E2E;
    --input-blue: #8AC0E2;
    --select: #EBEBEB;
    --medium-blue: #317AD0;
    --dark-blue: #1A5DAB;
    --error: #E52F2F;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url(../fonts/HelveticaNeue.ttc);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--helveticaFont);
}

h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    color: var(--black);
}

@media only screen and (min-width: 390px) and (max-width: 1919px) {
    h3 {
        font-size: 20px;
    }
}

span {
    font-family: var(--helveticaFont);
    font-size: 14px;
}

button {
    height: 60px;
    width: 297px;
    border: none;
    border-radius: 8px;
    display: grid;
    place-items: center;
    font-family: var(--helveticaFont);    
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    color: white;
    cursor: pointer;
}

@media only screen and (min-width: 390px) and (max-width: 1919px) {
    button {
        width: 387px;
    }
}

button:hover {
    background-color: var(--medium-blue);
}

button:active {
    background-color: var(--dark-blue);
}
  
.light-blue {
    background-color: var(--light-blue);
}

.white-btn {
    color: #0089A7;
    background-color: transparent;
}

.white-btn:hover, .white-btn:active {
    background-color: transparent;
}

label {
    font-family: var(--helveticaFont);
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    color: #000;    
}

input {
    height: 60px;
    width: 358px;
    border-radius: 8px;
    border: 1.8px solid var(--input-blue);
    padding: 20px 16px;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    font-size: 16px;
}

input:focus {
    background: rgba(43, 75, 242, 0.06);
    border-color: #6499FF
}

input:invalid {
    border-color: #E52F2F;
}

@media only screen and (min-width: 880px) and (max-width: 1919px) {
    .full-scr {
        width: 878px;
    }

    .third {
        width: 277px;
    }
}

select {
    height: 60px;
    width: 358px;
    border-radius: 8px;
    border: none;
    padding: 20px 16px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.04em;
    background-color: var(--select);
}

@media only screen and (min-width: 880px) and (max-width: 1919px) {
    .full-scr {
        width: 878px;
    }
}


input.error {
    border-color: var(--error);
}

label.error, span.error {
    color: var(--error);
}

select.error {
    border: 1.8px solid var(--error);
}

.medium {
    font-size: 18px;
}

.gray-span {
    color: #5F5F5F;
}

.center-align {
    align-self: center;
}

.success {
    z-index: 33;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 160px;
    display: none;
    background-color: white;
}

.success h3 {
    width: 164px;
    font-weight: 700;
    font-size: 22px;
    line-height: 39px;
    text-align: center;
    color: #292929;
}

.success button:nth-of-type(2) {
    margin-top: 38px;
}

.success div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 880px) {
    .success  {
        width: 847px;
        height: 537px;
        margin: 0 auto;
        margin-top: 270px;
        border-radius: 8px;
        gap: 79px;
    }

    .success button {
        width:  297px;
    }

    .success button:nth-of-type(2) {
        margin-top: 28px;
    }

    .success h3 {
        width: 314px;
        font-size: 25px;
        line-height: 31px;
    }
    
}
