:root {
    --background-color: #F6F6F6;
    --arrows: #797979;
    --black500: #2E2E2E;
    --span: #898989;
}

#survey-header {
    width: 100%;
    background-color: var(--background-color);
    height: 85px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}


.position-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

@media only screen and (min-width: 880px) and (max-width: 1919px) {
    .position-div {
        gap: 52px;
        width: 878px;
        margin: 0 auto; 
    }

    #position-span {
        display: none;
    }

    .btn-div {
        height: 53px;
        width: 53px;
        left: 70px;
        top: 53px;
        border-radius: 50%;
        background-color: #D9D9D9;
        display: grid;
        place-items: center;
    }
}

.btn-div {
    position: absolute;
    top: 34px;
    left: 16px;
    color: var(--arrows);
    cursor: pointer;
}

#position-span {
    font-weight: 400;
    line-height: 17px;
    color: var(--span);
}

form {
    width: 358px;
    display: flex;
    flex-direction: column;
    gap: 43px;
    margin: 40px auto;
    background-color: white;
}

@media only screen and (min-width: 880px) and (max-width: 1919px) {
    form {
        width: 1225px;
        gap: 95px;
        margin: 0 auto;
        border-radius: 18px;
        padding-top: 96px;
        padding-bottom: 44px;
    }

    .row-ctn {
        display: flex;
        justify-content: space-between;
    }

    main {
        background-color: var(--background-color);
        padding-top: 27px;
    }
}


.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info-span {
    font-weight: 300;
    line-height: 21px;
    color: var(--black500);
}

.next-btn {
    width: 132px;
    align-self: flex-end;
}

.row-ctn {
    display: flex;
    justify-content: space-between;
}

.prev-btn {
    width: 132px;
    background-color: white;
    color: #62A1EB;
    visibility: hidden;
}

.prev-btn:hover {
    background-color: white;
    color: #317AD0;
}

.prev-btn:active  {
    background-color: white;
    color: #1A5DAB;
}

.tab {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

@media only screen and (min-width: 880px) and (max-width: 1919px) {
    .tab {
        gap: 52px;
        width: 878px;
        margin: 0 auto; 
    }
}

.second {
    display: none;
}

.upload-btn {
    width: 358px;
    height: 244px;
    border-radius: 8px;
    border: 2px dashed #4386A9;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2em;
    cursor: pointer;
    margin: 0 auto; 
}

@media only screen and (min-width: 880px) and (max-width: 1919px) {
    .upload-btn {
        width: 878px;
        height: 423px;
    }
}

.file-div {
    width: 145px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.file-div h3:nth-of-type(2) {
    line-height: 26px;
    text-align: center;
    color: #4386A9;
    font-weight: 400;
}

.file-div h3:nth-of-type(1) { 
    display: none;
}

@media only screen and (min-width: 880px) and (max-width: 1919px) {
    .file-div {
        width: 233px;
        gap: 65px;
    }
    

    .file-div h3:nth-of-type(2) {
        background-color: #62A1EB;
        color: white;
        padding: 18px 60px;
        border-radius: 8px;
    }

    .file-div i {
        display: none;
    }

    .file-div h3:nth-of-type(1) { 
        display: block;
        font-family: Helvetica Neue;
        font-size: 20px;
        font-weight: 500;
        line-height: 38px;
        text-align: center;
        color: #4386A9;
    }
    
}

#camera {
    color: #79c6ee;
}

.checkboxes input {
    height: 20px;
    width: 20px;
}

label[for=SSD], 
label[for=HDD], 
label[for=new],
label[for=second-hand]{
    font-size: 16px;
    font-weight: 400;
}

.checkboxes {
    margin-top: 26px;
    display: flex;
    gap: 60px;
}

.checkboxes div {
    display: flex;
    align-items: center;
    gap: 18px;
}

.flex-start {
    justify-content: flex-start;
    gap: 63px;
}


