:root {
    --background-color: #F6F6F6;
    --arrows: #797979;
    --black500: #2E2E2E;
    --span: #898989;
}

#survey-header {
    width: 100%;
    background-color: var(--background-color);
    height: 85px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.position-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.btn-div {
    position: absolute;
    top: 34px;
    left: 16px;
    color: var(--arrows);
    cursor: pointer;
}

#position-span {
    font-weight: 400;
    line-height: 17px;
    color: var(--span);
}

form {
    width: 358px;
    display: flex;
    flex-direction: column;
    gap: 43px;
    margin: 40px auto;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info-span {
    font-weight: 300;
    line-height: 21px;
    color: var(--black500);
}

.next-btn {
    width: 132px;
    align-self: flex-end;
}

.row-ctn {
    display: flex;
    justify-content: space-between;
}

.prev-btn {
    width: 132px;
    background-color: white;
    color: #62A1EB;
    visibility: hidden;
}

.prev-btn:hover {
    background-color: white;
    color: #317AD0;
}

.prev-btn:active  {
    background-color: white;
    color: #1A5DAB;
}

.tab {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.second {
    display: none;
}

.upload-btn {
    width: 358px;
    height: 244px;
    border-radius: 8px;
    border: 2px dashed #4386A9;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2em;
    cursor: pointer;

}

.file-div {
    width: 145px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.file-div h3 {
    line-height: 26px;
    text-align: center;
    color: #4386A9;
    font-weight: 400;
}

#camera {
    color: #79c6ee;
}

.checkboxes input {
    height: 20px;
    width: 20px;
}

label[for=SSD], 
label[for=HDD], 
label[for=new],
label[for=second-hand]{
    font-size: 16px;
    font-weight: 400;
}

.checkboxes {
    margin-top: 26px;
    display: flex;
    gap: 60px;
}

.checkboxes div {
    display: flex;
    align-items: center;
    gap: 18px;
}